/* Base styles */
*,
body {
    font-family: "Anta", sans-serif;
    color: white;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container img {
    width: 100%;
    height: auto;
}

.menu-bar {
    background: rgb(red, green, blue);
    text-align: center;
}

.menu-bar ul {
    display: inline-flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-bar ul li {
    width: 120px;
    margin: 15px;
    padding: 15px;
}

.menu-bar ul li a {
    text-decoration: none;
    color: antiquewhite;
}

.active,
.menu-bar ul li:hover {
    background-color: black;
    border: radius 3px;
}

.anta-regular {
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.sub-menu-1 {
    display: none;
}

.menu-bar ul li:hover .sub-menu-1 {
    display: block;
    position: absolute;
    background: rgba(30, 3, 4, 0);
    margin: 15px;
    margin-left: -15px;
}

.menu-bar ul li:hover .sub-menu-1 ul {
    display: block;
    margin: 10px;
}

.menu-bar ul li:hover .sub-menu-1 ul li {
    width: 150px;
    padding: 10px;
    border-bottom: 1px #fff;
    background: transparent;
    border-radius: 0;
    text-align: left;
}

.image {
    width: 100%;
    height: 80%;
    object-fit: cover;
}

.social-footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 60px;
}

.social-icons a {
    display: inline-block;
    margin: 0 10px;
    text-decoration: none;
    color: white;
}

.social-icons img {
    width: 40px; /* Adjust the width of your social media icons */
    height: 40px; /* Adjust the height of your social media icons */
}

/* Additional styles for services */
.bg-image {
    background-image: url(/img/bg3.png);
    background-position: center;
    background-size: cover;
}

.mask {
    background-color: rgba(0, 0, 0, 0.6);
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.align-middle {
    align-self: middle;
}

.p-2 {
    padding: 0.5rem;
}

.text-center {
    text-align: center;
}

.mb-0 {
    margin-bottom: 0;
}

.service-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    transition: transform 0.3s ease;
}

.service-card:hover {
    transform: translateY(-5px);
}

.service-icon {
    font-size: 36px;
    color: #007bff;
    margin-bottom: 20px;
}

.service-title {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
    color: #007bff;
}

.service-description {
    font-size: 16px;
    line-height: 1.5;
}

.service-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

.service-card {
    /* Your existing styles for service cards */
    transition: transform 0.5s ease;
    transform: translateX(0);
}

.transition-right-to-left {
    transform: translateX(-100%);
}

